+ The default configuration file for the second step of the project is res/app2.json

+ The specification of this default file is done in src/Config.hpp.
Detailed explanations on how to use the config files will be given in the
third step of the project

+ To change the size of the simulation window, modify the values 600 in the fields:
"window":{
	"antialiasing level":4,
	....
        "simulation":{
            "width":600,
            "height":600
	    ...
	    }
(at the end of res/app2.json)

+ To change the simulation speed, modify the value 1 in:
{
   "debug":true,
   "simulation":{
      "time":{
         "factor":1,

...
}
(at the beginning of res/app2.json)
Values lower than 1 will make it slower. Values higher than 1 will make it faster
(try 2 for instance).
